@import "tailwindcss";

@theme {
  --color-primary: #004225;
  --color-secondary: #D4AF37;
  --color-accent: #F97316;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@700;800;900&display=swap');
